*~
*.bak
*.orig
*.zip
*.tar.gz
*.sh

debian/files
debian/faba-icon-theme.debhelper.log
debian/faba-icon-theme.postinst.debhelper
debian/faba-icon-theme.postrm.debhelper
debian/faba-icon-theme.prerm.debhelper
debian/faba-icon-theme.substvars
debian/faba-icon-theme

data
data/
data/*

src/OLD
src/OLD/*
src/WIP
src/WIP/*
