Source: faba-icon-theme
Section: gnome
Priority: optional
Maintainer: Sam Hewitt <hewittsamuel@gmail.com>
Build-Depends: debhelper (>= 7),
               python-scour (>= 0.25+bzr194-3),
               python-rsvg,
               python-cairo,
               icon-naming-utils
Standards-Version: 3.9.2
Homepage: https://github.com/moka-project/faba-icon-theme


Package: faba-icon-theme
Architecture: all
Depends: ${misc:Depends},
         gnome-icon-theme,
         hicolor-icon-theme
Replaces: faba-icon-theme-symbolic
Description: Faba Icon Theme
 Faba is a sexy and modern icon theme with Tango influences.
